.searchbar {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: transparent;
  padding: 8px;
  border: 1.5px solid #fff;
}

.searchbar__icon {
  color: #fff;
}

.searchbar__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
  padding: 0 12px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.searchbar__input::placeholder {
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .searchbar {
    padding: 4px 8px;
  }
}
